<h2>{{ name }}</h2>

<h3>Base Stats</h3>
<ul>
	{% for item in stats %}
	<li>
		<h4>{{ item.stat.name }}</h4>
		<p>{{ item.base_stat }}</p>
	</li>
	{% endfor %}
</ul>

<h3>Types</h3>
<ul>
	{% for item in types %}
	<li>{{ item.type.name }}</li>
	{% endfor %}
</ul>