<table>
	<tr>
		<th>Attribute</th>
		<th>Data</th> 
	</tr>
	<tr>
	<td>Name</td>
	<td>{{ name }}</td>
	</tr>
	<tr>
		<td>Natural gift power</td>
		<td>{{ natural_gift_power }}</td> 
	</tr>
	<tr>
		<td>Firmness</td>
		<td>{{ firmness }}</td> 
	</tr>
	<tr>
		<td>Flavours</td>
		<td>
			<ul>
				{% for item in flavors %}
				<li>{{ item.flavor.name}}</li>
				{% endfor %}
			</ul>
		</td> 
	</tr>
</table>


