<table>
	<tr>
		<th>Attribute</th>
		<th>Data</th> 
	</tr>
	<tr>
		<td>Name</td>
		<td>{{ name }}</td>
	</tr>
	<tr>
		<td>Base Stats</td>
		<td><ul>
			{% for item in stats %}
			<li><b>{{ item.stat.name }}</b>: {{ item.base_stat }}</p>
			</li>
			{% endfor %}
		</ul>
	</td> 
</tr>
<tr>
	<td>Types</td>
		<td>
			<ul>
				{% for item in types %}
				<li>{{ item.type.name }}</li>
				{% endfor %}
			</ul>
		</td> 
	</tr>
</table>