<table>
	<tr>
		<th>Attribute</th>
		<th>Data</th> 
	</tr>
	<tr>
		<td>Name</td>
		<td>{{ name }}</td>
	</tr>
	<tr>
		<td>Cost</td>
		<td>{{ cost }}</td> 
	</tr>
	<tr>
		<td>Category</td>
		<td>{{ category }}</td> 
	</tr>
	<tr>
		<td>Effects</td>
		<td>
			<ul>
				{% for item in effect_entries %}
				<li>{{ item.short_effect }}</li>
				{% endfor %}
			</ul>
		</td> 
	</tr>
</table>
